{% extends 'home/base.html' %}

{% block contentLeft %}
<div class="row">
    <div class="col-12"><h4 class="st-title">Các trận đấu sắp diễn ra</h4></div>
</div>
<div class="row">
    <div class="st-table col-12">
    <table>
        {% for items in params.get('matchs') %}
            {% if params.get('results').query.filter(params.get('results').match_id == items.id).first() == None %}
            <tbody>
            <tr>
                <td class="left-team">
                    <a href="{{url_for('team_profile', idp=items.match.hometeam_id)}}">
                    <img src="{{url_for('static',filename = 'image/logoTeam/flag-1.jpg')}}" alt="flag-1.jpg">
                    <h4>{{params.get('teams').query.get(items.hometeam_id)}}</h4>
                    </a>
                </td>
                <td class="st-option">
                    <div class="so-text">{{params.get('teams').query.get(items.hometeam_id).stadium}}</div>
                    <h4> VS </h4>
                    <div class="so-text">{{items.datetime}}</div>
                </td>
                <td class="right-team">
                    <a href="{{url_for('team_profile', idp=items.match.awayteam_id)}}">
                    <img src="{{url_for('static',filename = 'image/logoTeam/flag-2.jpg')}}" alt="">
                    <h4>{{params.get('teams').query.get(items.awayteam_id)}}</h4>
                    </a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
