{% extends 'admin/base.html' %}

{% block body %}
<div class="row">
    <div class="col">
        <div class="tabs-container ">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#listmatch" aria-expanded="true"> List </a></li>
                <li class=""><a data-toggle="tab" href="#create" aria-expanded="false">Create</a></li>
            </ul>
            <div class="tab-content">
                <div id="listmatch" class="tab-pane active">
                    <div class="panel-body">
                        <table id="basic-datatables" class="table table-bordered table-hover">

                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Round</th>
                                <th>Home</th>
                                <th>Away</th>
                                <th>Time</th>
                                <th>Stadium</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in params.get('listmatch') %}

                            <tr>
                                <td>
                                    {{loop.index}}
                                </td>

                                <td>{{i.groups.round}}</td>

                                <td>{{i.hometeams.name}}</td>
                                <td>{{i.awayteams.name}}</td>
                                <td>{{i.datetime |format_datetime}}</td>
                                <td>{{i.stadiumofteam.stadium}}</td>
                                <td width="20%">

                                    <span class="controls-row">

                                        <button class="btn btn-danger">Edit</button>
                                        <button class="btn btn-danger">Write Result</button>
                                    </span>

                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="create" class="tab-pane">

                </div>
            </div>


        </div>

    </div>

</div>
{% endblock %}