{% extends 'admin/base.html' %}


{% block body %}
<div class="row">
    <div class="col">
        <div class="tabs-container ">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#listmatch" aria-expanded="true"> List </a></li>
                <li class=""><a data-toggle="tab" href="#create" aria-expanded="false">Create</a></li>
            </ul>
            <div class="tab-content">
                <div id="listmatch" class="tab-pane active">
                    <div class="panel-body">
                        <table id="basic-datatables" class="table table-bordered table-hover">

                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Vòng</th>
                                <th>Bảng</th>
                                <th>Đội nhà</th>
                                <th>Đội khách</th>
                                <th>Thời gian</th>
                                <th>Sân vận động</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in params.get('listmatch') %}

                            <tr>
                                <td>
                                    {{loop.index}}
                                </td>

                                <td>{{i.groups.round}}</td>
                                <td>{{i.groups }}</td>
                                <td>{{i.hometeams.name}}</td>
                                <td>{{i.awayteams.name}}</td>
                                <td>{{i.datetime |format_datetime}}</td>
                                <td>{{i.stadiumofteam.stadium}}</td>
                                <td width="20%">
                                    <span class="controls-row">
                                        {% if params.get('result').query.filter(params.get('result').match_id == i.id).first() == None %}
                                        <button class="btn btn-danger" onclick="delmatch('{{i.id}}')">Delete</button>
                                        {% endif %}
                                        <button class="btn btn-danger">Write Result</button>
                                    </span>
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="create" class="tab-pane">
                    <form action="{{ url_for('match_admin') }}" method="post" >
                        <div class="form-group">
                            <label>Bảng</label>
                            <select class="form-control" required name="group_id">

                                {% for items in params.get('listgroup') %}
                                <option value="{{items.id}}">{{items}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Thời gian</label>
                            <input type="datetime-local" style="width:17em" value="{{'min'|set_time_match}}"
                                   min="{{'min'|set_time_match}}" max="{{'max'|set_time_match}}" name="datetime"
                                   required class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Đội Nhà</label>

                            <select class="form-control" required name="hometeam" id="hometeam" onchange="team_ready()">
                                <option disabled value="" selected>Chọn đội chủ nhà</option>
                                {% for items in params.get('listteam') %}
                                <option value="{{items.id}}">{{items}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Đội Khách</label>
                            <select class="form-control" required name="awayteam" id="awayteam" onchange="team_ready()">
                                <option disabled value="" selected>Chọn đội chủ nhà</option>
                                {% for items in params.get('listteam') %}
                                <option value="{{items.id}}">{{items}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label> Sân </label>
                            <select class="form-control" disabled required name="stadium" id="stadium">
                                <option value="">Yêu cầu chọn đội</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success" onsubmit="clearForm()" name="submit"> Tạo</button>
                    </form>

                </div>

            </div>


        </div>

    </div>

</div>
{% endblock %}

{% block script %}
    {{super()}}
    <script>
        function clearForm(form){
            form.reset()
        }
    </script>
{% endblock %}