{% extends 'admin/master.html' %}
{% block head %}
    <link href="{{url_for('static',filename ='css/style.css')}}" rel="stylesheet">
{% endblock %}
{% block access_control %}
{% if current_user.is_authenticated %}

<div class="hidden">
     <svg id="icon-User" viewBox="0 0 32 32">
        <path d="M16 16c4.418 0 8-3.582 8-8s-3.582-8-8-8c-4.418 0-8 3.582-8 8s3.582 8 8 8z"></path>
        <path d="M32 26.4c0.003-0.766-0.214-1.516-0.627-2.161s-1.002-1.157-1.699-1.475c-4.312-1.876-8.972-2.818-13.674-2.764-4.702-0.054-9.362 0.888-13.674 2.764-0.696 0.318-1.286 0.83-1.699 1.475s-0.63 1.395-0.627 2.161v5.6h32v-5.6z"></path>
    </svg>
</div>
<div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="color: aliceblue">
         <svg class="ic ic-evne"><use xlink:href="#icon-User"></use></svg>
        <span > {{ current_user.full_name}}</span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('logout') }}">Log out</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}

{% block body %}
    {% if current_user.is_authenticated %}
        <h1>helo admin </h1>
    {% else %}
        {% include 'admin/login.html' %}
    {% endif %}
{% endblock %}
