

<div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="{{ url_for('static',filename = 'image/avatar.png')}}" />
            <p id="profile-name" class="profile-name-card"></p>
            <form method="post" action="{{url_for('login_admin')}}" class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="username" name="username" class="form-control" placeholder="User name" required autofocus>
                <input type="password" id="password" name = "password" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me" name = "remember"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->