<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 62px" role="document">
        <div class="modal-content " style="background-color: #2f323b;">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel"></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: white;
    opacity: 1;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="" action="{{ url_for('players',action ='edit') }}" method="post"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="lastname">Họ & Tên đệm</label>
                        <input class="form-control" id="lastname"
                               name="lastname"
                               required autocomplete="">
                    </div>
                    <div class="form-group">
                        <label for="firstname">Tên</label>
                        <input class="form-control" type="text"
                               id="firstname"
                               name="firstname" required
                               autocomplete="">
                    </div>
                    <div class="form-group">
                        <label for="number">số áo</label>
                        <input class="form-control"  type="text"
                               id="number"
                               name="number" required
                               autocomplete="">
                    </div>
                    <div class="form-group">
                        <label for="birthdate">Ngày sinh</label>
                        <input class="form-control form-control-sm"
                               type="date"
                               id="birthdate"
                               name="birthdate" required autocomplete="">
                    </div>
                    <div class="form-group">
                        <label for="gender">Giới tính</label>
                        <select class="form-control" style="width: 100%" id="gender" name="gender" required>
                            <option disabled value="" selected> Chọn giới tính</option>
                            {% for i in params.get('genders') %}
                                <option value="{{ i.name }}">{{ i.value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="typeplayer">Loại Cầu thủ</label>
                        <select class="form-control" style="width: 100%" id="typeplayer" name="typeplayer" required>
                            <option disabled selected value="">Chọn loại cầu thủ</option>

                            {% for i in params.get('tyepeplayer') %}
                                <option value="{{ i.name }}">{{ i.value }}</option>

                            {% endfor %}
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="nationality">Quốc Tịch</label>
                        <select class="form-control" style="width: 100%" id="nationality"
                                name="nationality" required
                                autocomplete="">
                            <option disabled selected value="">Chọn quốc tịch</option>
                            <option>Việt Nam</option>
                            <option>Campuchia</option>
                            <option>Lào</option>
                            <option>Thái Lan</option>
                            <option>Myanmar</option>
                            <option>Malaysia</option>
                            <option>Singapore</option>
                            <option>Indonesia</option>
                            <option>Brunei</option>
                            <option>Philippines</option>
                            <option>Đông Timor</option>
                            <option>Trung Quốc</option>
                            <option>Nhật Bản</option>
                            <option>Mông Cổ</option>
                            <option>Hàn Quốc</option>
                            <option>Cộng hòa Dân chủ Nhân dân Triều Tiên</option>
                            <option>Đài Loan</option>
                            <option>Hồng Kông</option>
                            <option>Ma Cao</option>
                            <option>Ấn Độ</option>
                            <option>Pakistan</option>
                            <option>Bangladesh</option>
                            <option>Nepal</option>
                            <option>Bhutan</option>
                            <option>Sri Lanka</option>
                            <option>Maldives</option>
                            <option>Lãnh thổ Ấn Độ Dương thuộc Anh</option>
                            <option>Afghanistan</option>
                            <option>Kazakhstan</option>
                            <option>Uzbekistan</option>
                            <option>Turkmenistan</option>
                            <option>Tajikistan</option>
                            <option>Kyrgyzstan</option>
                            <option>Iran</option>
                            <option>Iraq</option>
                            <option>Ả Rập Xê Út</option>
                            <option>Kuwait</option>
                            <option>Qatar</option>
                            <option>Bahrain</option>
                            <option>Nhà nước Palestine</option>
                            <option>Israel</option>
                            <option>Các Tiểu vương quốc Ả Rập Thống nhất</option>
                            <option>Oman</option>
                            <option>Yemen</option>
                            <option>Jordan</option>
                            <option>Syria</option>
                            <option>Liban</option>
                            <option>Thổ Nhĩ Kỳ</option>
                            <option>Cộng hòa Síp</option>
                            <option>Bắc Síp</option>
                            <option>Akrotiri và Dhekelia</option>
                            <option>Azerbaijan</option>
                            <option>Armenia</option>
                            <option>Gruzia</option>
                            <option>Abkhazia</option>
                            <option>Nam Ossetia</option>
                            <option>Cộng hòa Nagorno-Karabakh</option>
                            <option>Thụy Điển</option>
                            <option>Phần Lan</option>
                            <option>Na Uy</option>
                            <option>Estonia</option>
                            <option>Latvia</option>
                            <option>Litva</option>
                            <option>Đan Mạch</option>
                            <option>Vương quốc Liên hiệp Anh và Bắc Ireland</option>
                            <option>Cộng hòa Ireland</option>
                            <option>Iceland</option>
                            <option>Quần đảo Faroe</option>
                            <option>Đảo Man</option>
                            <option>Jersey</option>
                            <option>Guernsey</option>
                            <option>Svalbard</option>
                            <option>Åland</option>
                            <option>Đức</option>
                            <option>Pháp</option>
                            <option>Hà Lan</option>
                            <option>Bỉ</option>
                            <option>Thụy Sĩ</option>
                            <option>Áo</option>
                            <option>Luxembourg</option>
                            <option>Liechtenstein</option>
                            <option>Monaco</option>
                            <option>Tây Ban Nha</option>
                            <option>Bồ Đào Nha</option>
                            <option>Andorra</option>
                            <option>Gibraltar</option>
                            <option>Ý</option>
                            <option>San Marino</option>
                            <option>Thành Vatican</option>
                            <option>Malta</option>
                            <option>Slovenia</option>
                            <option>Croatia</option>
                            <option>Bosna và Hercegovina</option>
                            <option>Montenegro</option>
                            <option>Serbia</option>
                            <option>Kosovo</option>
                            <option>Albania</option>
                            <option>Hy Lạp</option>
                            <option>Bắc Macedonia</option>
                            <option>Nga</option>
                            <option>Ukraina</option>
                            <option>Ba Lan</option>
                            <option>Belarus</option>
                            <option>Moldova</option>
                            <option>Transnistria</option>
                            <option>Cộng hòa Séc</option>
                            <option>Slovakia</option>
                            <option>Hungary</option>
                            <option>România</option>
                            <option>Bulgaria</option>
                            <option>Canada</option>
                            <option>Hoa Kỳ</option>
                            <option>Greenland</option>
                            <option>Saint-Pierre và Miquelon</option>
                            <option>Bermuda</option>
                            <option>México</option>
                            <option>Belize</option>
                            <option>Guatemala</option>
                            <option>El Salvador</option>
                            <option>Honduras</option>
                            <option>Nicaragua</option>
                            <option>Costa Rica</option>
                            <option>Panama</option>
                            <option>Brasil</option>
                            <option>Đế quốc Bồ Đào Nha</option>
                            <option>Argentina</option>
                            <option>Uruguay</option>
                            <option>Paraguay</option>
                            <option>Chile</option>
                            <option>Bolivia</option>
                            <option>Peru</option>
                            <option>Ecuador</option>
                            <option>Colombia</option>
                            <option>Venezuela</option>
                            <option>Suriname</option>
                            <option>Guyana</option>
                            <option>Guyane thuộc Pháp</option>
                            <option>Quần đảo Falkland</option>
                            <option>Nam Georgia và Quần đảo Nam Sandwich</option>
                            <option>Cuba</option>
                            <option>Jamaica</option>
                            <option>Haiti</option>
                            <option>Cộng hòa Dominica</option>
                            <option>Quần đảo Cayman</option>
                            <option>Puerto Rico</option>
                            <option>Quần đảo Virgin thuộc Mỹ</option>
                            <option>Quần đảo Virgin thuộc Anh</option>
                            <option>Bahamas</option>
                            <option>Quần đảo Turks và Caicos</option>
                            <option>Saint Kitts và Nevis</option>
                            <option>Anguilla</option>
                            <option>Saint-Barthélemy</option>
                            <option>Montserrat</option>
                            <option>Saba</option>
                            <option>Sint Eustatius</option>
                            <option>Dominica</option>
                            <option>Grenada</option>
                            <option>Barbados</option>
                            <option>Saint Vincent và Grenadines</option>
                            <option>Antigua và Barbuda</option>
                            <option>Saint Lucia</option>
                            <option>Trinidad và Tobago</option>
                            <option>Aruba</option>
                            <option>Bonaire</option>
                            <option>Curaçao</option>
                            <option>Trái tim</option>
                            <option>Saint-Martin</option>
                            <option>Thánh Martin (trang chưa được viết)</option>
                            <option>Sint Maarten</option>
                            <option>Thánh Martin (trang chưa được viết)</option>
                            <option>Martinique</option>
                            <option>Guadeloupe</option>
                            <option>Tây Ban Nha</option>
                            <option>Ai Cập</option>
                            <option>Libya</option>
                            <option>Tunisia</option>
                            <option>Algérie</option>
                            <option>Maroc</option>
                            <option>Tây Sahara</option>
                            <option>Sudan</option>
                            <option>Cộng hòa Nam Phi</option>
                            <option>Lesotho</option>
                            <option>Eswatini</option>
                            <option>Namibia</option>
                            <option>Botswana</option>
                            <option>Mauritanie</option>
                            <option>Mali</option>
                            <option>Niger</option>
                            <option>Nigeria</option>
                            <option>Sénégal</option>
                            <option>Gambia</option>
                            <option>Guinée</option>
                            <option>Guiné-Bissau</option>
                            <option>Cabo Verde</option>
                            <option>Sierra Leone</option>
                            <option>Liberia</option>
                            <option>Bờ Biển Ngà</option>
                            <option>Burkina Faso</option>
                            <option>Ghana</option>
                            <option>Togo</option>
                            <option>Bénin</option>
                            <option>Saint Helena, Ascension và Tristan da Cunha</option>
                            <option>Thánh Helena</option>
                            <option>Tchad</option>
                            <option>Cộng hòa Trung Phi</option>
                            <option>Cameroon</option>
                            <option>Cộng hòa Dân chủ Congo</option>
                            <option>Cộng hòa Congo</option>
                            <option>Gabon</option>
                            <option>Guinea Xích Đạo</option>
                            <option>São Tomé và Príncipe</option>
                            <option>Angola</option>
                            <option>Nam Sudan</option>
                            <option>Ethiopia</option>
                            <option>Eritrea</option>
                            <option>Djibouti</option>
                            <option>Somalia</option>
                            <option>Somaliland</option>
                            <option>Uganda</option>
                            <option>Rwanda</option>
                            <option>Burundi</option>
                            <option>Kenya</option>
                            <option>Tanzania</option>
                            <option>Malawi</option>
                            <option>Mozambique</option>
                            <option>Zambia</option>
                            <option>Zimbabwe</option>
                            <option>Madagascar</option>
                            <option>Comoros</option>
                            <option>Seychelles</option>
                            <option>Mauritius</option>
                            <option>Réunion</option>
                            <option>Mayotte</option>
                            <option>Úc</option>
                            <option>New Zealand</option>
                            <option>Đảo Norfolk</option>
                            <option>Đảo Giáng Sinh</option>
                            <option>Quần đảo Cocos (Keeling)</option>
                            <option>Thuyền trưởng (trang chưa được viết)</option>
                            <option>William Keeling (trang chưa được viết)</option>
                            <option>Papua New Guinea</option>
                            <option>Palau</option>
                            <option>Quần đảo Solomon</option>
                            <option>Vanuatu</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="position">Vị trí đá</label>
                        <select class="form-control" style="width: 100%" id="position" name="position" required
                                autocomplete="">
                            <option disabled selected value="">Chọn vị trí</option>
                            {% for i in params.get('positions') %}
                                <option value="{{ i.id }}">{{ i.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="avatar">Ảnh Cầu thủ</label>
                        <input class="form-control form-control-file" onchange="validateFileType()"
                               accept=".jpg,.jpeg,.png"
                               style="width: 20em" type="file" id="avatar" name="avatar"
                               autocomplete="">
                    </div>
                    <input type="hidden" id="playerid" name="playerid">
                    <input type="submit" id="btnsubmit" style="display: none">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" style="background: rebeccapurple" data-dismiss="modal">Close</button>
                <button type="button" onclick=" $('#btnsubmit').click()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


