{% extends 'admin/base.html' %}

{% block body %}
<div>
    {% for team in params.get('teams') %}
    <div>
        <h2>{{team.name}}</h2>
        <div>
            <table class="table table-hover">
            <tbody>
            {% for i in team.players %}
            <tr>
                <td><img src="{{url_for('static', filename= i.avatar or '')}}" style="width: 32px" class=""></td>
                <td><a href="{{url_for('profile_player', idp =i.id)}}">{{i.name}}</a></td>
                <td>{{i.number}}</td>
                <td>{{i.position}}</td>
                <td>{{ i.birthdate | format_datetime }} </td>
                <td>{{ i.nationality}}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}