{% extends 'admin/base.html' %}

{% block body %}
<div class="row">
    <div class="col">
        <div class="tabs-container ">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#listmatch" aria-expanded="true"> List </a></li>
                <li class=""><a data-toggle="tab" href="#create" aria-expanded="false">Create</a></li>
            </ul>
            <div class="tab-content">
                <div id="listmatch" class="tab-pane active">
                    <div class="panel-body">
                        <table id="basic-datatables" class="table table-bordered table-hover">

                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Vòng</th>
                                <th>Số đội tham gia</th>
                                <th>Số đội được chọn</th>
                                <th>Thể thức</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in params.get('listround') %}

                            <tr>
                                <td>
                                    {{loop.index}}
                                </td>

                                <td>{{i.roundname}}</td>
                                <td>{{i.numberteamin}}</td>
                                <td>{{i.numberteamout}}</td>
                                <td>{{i.format}}</td>
                                <td width="20%">

                                    <span class="controls-row">

                                        <button class="btn btn-danger">Edit</button>
                                        <button class="btn btn-danger">Write Result</button>
                                    </span>

                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="create" class="tab-pane">
                    <div class="panel-body">
                        <form action="{{ url_for('listround') }}" method="post">
                            <div class="form-group">
                                <p>Tên vòng </p>
                                <input type="text" name="roundname" class="form-control">
                            </div>
                            <div class="form-group">
                                <p>Số lượng đội tham gia</p>
                                <input type="text" name="numberteamin" class="form-control">
                            </div>
                            <div class="form-group">
                                <p>Số lượng đội được chọn</p>
                                <input type="text" name="numberteamout" class="form-control">
                            </div>
                            <div class="form-group">
                                <p>Thể thức vòng đấu</p>
                                <input type="text" name="numberteamin" class="form-control">
                            </div>
                            <button type="submit" name="submit" > Gửi </button>
                        </form>

                    </div>
                </div>
            </div>


        </div>

    </div>

</div>
{% endblock %}